In [141]:
import mysql.connector as conn
import sqlalchemy 
import  csvkit


## Task 1 - Fitbit Dataset <br>

1. Read this dataset in pandas , mysql and mongodb <br>
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 (hint - use csvkit library to automate this task and to load a data in bulk in you mysql)<br>
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format<br>
4 . Find out in this data that how many unique id's we have <br>
5 . which id is one of the active id that you have in whole dataset <br>
6 . how many of them have not logged there activity find out in terms of number of ids <br>
7 . Find out who is the laziest person id that we have in dataset <br>
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset <br>
9. how many person are not a regular person with respect to activity try to find out those <br>
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . <br>
11 . who is the 5th most laziest person avilable in dataset find it out <br>
12 . what is a totla acumulative calories burn for a person find out <br>

In [142]:
import pandas as pd

### 1. Read this dataset in pandas , mysql and mongodb <br>

In [143]:
df=pd.read_csv('FitBit data.csv')

In [144]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

### 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 (hint - use csvkit library to automate this task and to load a data in bulk in you mysql)<br>

In [145]:
#in2csv df.xls > df.csv
### I didn't get how to use csvkit so I couldn't make it in sql

### 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format<br>

In [146]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [147]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])

In [148]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [149]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [150]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

### 4 . Find out in this data that how many unique id's we have <br>

In [151]:
len(df.drop_duplicates(subset ="Id")['Id'])

35

In [152]:
len(df['Id'].unique())

35

In [153]:
df['Id'].nunique()

35

### 5 . which id is one of the active id that you have in whole dataset <br>

In [154]:
df_1=pd.DataFrame(df.groupby('Id')['TotalDistance'].sum()).reset_index()
df_1.sort_values(['TotalDistance'] ,ascending=False).head(1)

            Id  TotalDistance
34  8877689391     169.089998

In [155]:
#df[df['cost_to_comapny'] == max(df['cost_to_comapny'])]['product_name']
df_1[df_1['TotalDistance'] == max(df_1['TotalDistance'])]['Id']

34    8877689391
Name: Id, dtype: int64

### 6 . how many of them have not logged there activity find out in terms of number of ids <br>

In [156]:
df_new=pd.DataFrame(df.groupby('Id')['LoggedActivitiesDistance'].sum()).reset_index()
len(df_new[df_new['LoggedActivitiesDistance']==0])

29

### 7 . Find out who is the laziest person id that we have in dataset <br>

In [157]:
df_1.sort_values(['TotalDistance'] ,ascending=False).tail(1)

            Id  TotalDistance
16  4388161847            0.0

In [158]:
df_1[df_1['TotalDistance'] == min(df_1['TotalDistance'])]['Id']

16    4388161847
Name: Id, dtype: int64

### 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset <br>

In [159]:
##should burn 2000
df_calories=pd.DataFrame(df.groupby('Id')['Calories'].mean()).reset_index(drop=True)
len(df_calories[df_calories['Calories']>2000])

20

### 9. how many person are not a regular person with respect to activity try to find out those <br>

In [160]:
## i didn't get the difference between this question and question 6
len(df_new[df_new['LoggedActivitiesDistance']==0])

29

### 10 . who is the thired most active person in this dataset find out those in pandas and in sql both . <br>

In [161]:
df_1.sort_values(['TotalDistance'] ,ascending=False).head(3)

            Id  TotalDistance
34  8877689391     169.089998
0   1503960366     144.540001
13  4020332650     132.600000

In [162]:
df_1.sort_values(['TotalDistance'] ,ascending=False).reset_index(drop=True).iloc[2 , 0]

4020332650

### 11 . who is the 5th most laziest person avilable in dataset find it out <br>

In [163]:
df_1.sort_values(['TotalDistance'] ,ascending=False).tail(5)

            Id  TotalDistance
4   1927972279          18.13
23  6290855005          12.23
24  6391747486           9.67
10  2891001357           4.83
16  4388161847           0.00

In [164]:
df_1.sort_values(['TotalDistance'] ,ascending=False).reset_index(drop=True).iloc[len(df_1)-5 , 0]

1927972279

### 12 . what is a totla acumulative calories burn for a person find out <br>

In [165]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64